[Unit]
Description=Kingo Linux VPN daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/kingo-linux-vpn
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
