[Unit]
Description=Kingo Linux VPN Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/kingo-linux-vpn-daemon
Restart=on-failure
RestartSec=5

# امنیت: محدود کردن دسترسی‌های سرویس
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
# تعریف دایرکتوری مجاز برای نوشتن (برای دیتابیس SQLite)
StateDirectory=kingo-vpn
# برای ایجاد تونل TUN و اتصال به پورت‌های رزرو شده نیاز به این دسترسی‌ها داریم
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
